# === Bot Telegram ===
aiogram

# === Database MongoDB (async) ===
motor
pymongo

# === Instagram API (unofficial) ===
# VPS pakai Python 3.11+ jadi bisa pakai versi terbaru
instagrapi>=2.0.0

# === Utilitas ===
python-dotenv
aiofiles
aiohttp
aiohttp-socks
PySocks
